# See https://docs.celeryq.dev/en/stable/userguide/daemonizing.html#daemon-systemd-generic

[Unit]
Description=Celery Beat Service
After=network.target
Requires=redis6.service
After=redis6.service

[Service]
Type=simple
User=ec2-user
Group=ec2-user
EnvironmentFile=/etc/conf.d/celery
WorkingDirectory=/home/ec2-user/3DAdapt
ExecStart=/bin/sh -c '${CELERY_BIN} -A ${CELERY_APP} beat  \
    --pidfile=${CELERYBEAT_PID_FILE} \
    --logfile=${CELERYBEAT_LOG_FILE} --loglevel=${CELERYD_LOG_LEVEL}'
Restart=always

[Install]
WantedBy=multi-user.target
